.header {
	color: white;
}

body { 
font-size: 16px;
color: white;
font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
font-size: 1.4em;
background-image: url( ../images/background-home.jpg);
background-repeat: repeat-y;

 }
#home-h1 {
	background-color: rgba(153, 0, 77, 0.5);
	color: white;
}

#home-tile1-header {
	background-color: rgba(153, 0, 77, 0.5);
	color:white;
}

#home-tile2-header {
	background-color: rgba(153, 0, 77, 0.5);
	color:white
}

#home-tile3-header {
	background-color: rgba(153, 0, 77, 0.5);
	color: white;	
}


#home-tile1-body {
background-color: rgba(153, 0, 77, 0.2)
}

#home-tile2-body {
background-color: rgba(153, 0, 77, 0.2)
}

#home-tile3-body {
background-color: rgba(153, 0, 77, 0.2)
}

#logo-img {

    display: inline-block;
    width: 156px;
    height: 70px;
    margin-top: 5px;
    background-size: auto 43px;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
}

#header-nav {
 	border-radius: 0;
 	border: 0;
 	background-color: rgba(153, 0, 77, 0.3)
;
 }
