

body {
  
  padding-top: 54px;
  background-image: url('../images/background-.png');
  background-size: auto;

 ;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.dropdown-menu {
    background-color: rgba(230, 230, 230, 0.5)
}

.carousel-item {
   height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.card-body { background-color: rgba(128, 128, 128, .2);
}

.card-header { background-color: rgba(128, 128, 128, 0.6);
}

.card-footer { background-color: rgba(128, 128, 128, 0.6);
}
.card-footer a { background-color: rgba(128, 128, 128, 0.9);
  border-color: white;
}

.breadcrumb {
  background-color: rgba(242, 242, 242, 0.6);
}




#carouselExampleIndicators {
  margin-bottom: 20px;
  border-bottom: 50px;
}